header {
  padding: rem(20px) rem(30px);
  display: flex;
  background:$blue;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $tablets){
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
}

.title-text {
  color: #fff;
  font-size: rem(28px);
}

.return-back {
  font-size: rem(16px);
  color: #fff;

  &:hover {
    text-decoration: none;
  }
}